/* app.css */

.App {
  font-family: 'Arial', sans-serif;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
  margin: 20px;
  margin-left: 60px;
  font-size: 10px;
}

.mapContainer {
  grid-column: 1 / 2;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
}

.mapContainer h2 {
  text-align: left;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  background-color: #3f3f3f; /* Light gray background for the heading */
  border-bottom: 1px solid #ddd;
}

.mapEmbed {
  grid-column: 1 / 2;
  height: 400px;
  width: 522px;
  color: #3f3f3f;
}

.parameters,
.searchButton {
  grid-column: 1 / 2;
  margin: 10px 0;
}

.parameters {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.parameters input[type="text"],
.parameters input[type="number"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.parameters select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.searchButton {
  width: 100%;
  padding: 15px;
  background-color: #223346;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #0056b3;
}

.videoList {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.videoDisplay {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.videoDisplay img {
  width: 120px;
  height: 90px;
  border-radius: 4px;
}

.videoDisplay h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.videoDisplay p {
  margin: 2px 0;
  color: #666;
  font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
  }

  .mapEmbed,
  .parameters,
  .searchButton,
  .videoList {
    grid-column: 1;
  }

  .videoDisplay {
    grid-template-columns: 1fr;
  }

  .videoDisplay img {
    width: 100%;
    height: auto;
  }
}
